.wrap {
    position: relative;
}


/* /////////////////////////////////////////////////////////////*/
/* header //////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////////*/

header {
    /* border: 1px solid violet; */
    width: 530px;
    height: 232px;
    background-color: white;
    box-shadow: 0px 4px 10px 0px lightgray;

    position: fixed;
    z-index: 50;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-header {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
}

header #title-search {
    margin-left: 14px;
    position: relative;
    left: -190px;
    font-size: 17px;
}

header .btn-top {
    width: 38px;
    height: 38px;
    /* border: 1px solid red; */
    /* background-color: aqua; */

    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 0;
    outline: none;

    cursor: pointer;
}

header #map {
    background-image: url(images/resource/icon/map_406273.png);
    position: absolute;
    top: 10px;
    right: 60px;
}

header #bookmark {
    background-image: url(images/resource/icon/bookmark_14382088.png);
    position: absolute;
    top: 10px;
    right: 18px;
}



header .search-info {
    width: 492px;
    height: 170px;
}

.search-info td {
    /* border: 1px solid green; */
    width: 240px;
    height: 33.3%;
}

#input-name {
    width: 440px;
    color: gray;
    font-size: 15px;
    font-weight: 3000;

    position: relative;
    left: 9px;
    border: 0;
    outline: none;
}

#input-name-td {
    width: 480px;
    height: 44px;
    border-radius: 8px;
    border: 0.5px solid lightgray;

}

#input-name-img {
    width: 18px;

    position: absolute;
    top: 72px;
    left: 30px;
    ;
}


#btn-date,
#btn-region {
    width: 240px;
    height: 44px;

    border-radius: 8px;
    border: 0.5px solid lightgray;
    background-color: white;
    text-align: left;
    color: gray;
    font-size: 13px;
    font-weight: 300;

    cursor: pointer;
}

#btn-date:focus,
#btn-region:focus {
    border-color: #61D377;
    outline: none;
}


#btn-search {
    width: 484px;
    height: 48px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background-color: #61D377;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* */
/* */
header .input-name {
    width: 700px;
    height: 100px;
    border: 1px solid red;
    background-color: red;
}

/* 섹션 */
section {
    margin-top: 60px;
    height: 1100px;
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

}



/* /////////////////////////////////////////////////////////////*/
/* camp-card-box ///////////////////////////////////////////////*
/* /////////////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////////*/

.camp-card-box {
    width: 530px;
    height: 900px;
    background-color: whitesmoke;

    position: absolute;
    top: 170px;

    z-index: 90;

    display: none;
}

.camp-card-box button {
    width: 530px;
    height: 30px;
    background-color: transparent;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;

    margin-top: 3px;

    cursor: pointer;
}

.camp-card-box #close-icon {
    background-image: url(images/resource/icon/window_close_x.png);
}



.camp-card-box ul {
    width: 530px;
    height: 424px;
    margin: 0;
    padding: 0;

    list-style: none;

}

.camp-card-box ul .camp-card-normal {
    width: 530;
    height: 424px;
    background-color: white;

    position: relative;
}

.camp-card-box ul .camp-card-normal .card-top {
    width: 490px;
    height: 235px;
    background-color: yellow;
    border: 1px solid lightgray;

    position: absolute;
    bottom: 146px;
    left: 19px;

    border-radius: 15px 15px 0 0;
    background-size: 490px;
    background-position: center;

    box-shadow: inset 0px 0px 50px 0px rgba(10, 10, 10, 0.51);
}

#moonstx #img {
    background-image: url(images/persnal/search/stx-moon-medium.jpg);
}

#dreamtimer #img {
    background-image: url(images/persnal/search/dreamtimer-medium.jpg);
}

#cheongwoo #img {
    background-image: url(images/persnal/search/cheongwoo-medium.jpg);
}

#jaecheon #img {
    background-image: url(images/persnal/search/jaecheon-medium.jpg);
}

.card-middle {
    width: 490px;
    height: 92px;
    /* background-color: lightcoral; */
    margin: auto;
    border: 1px solid lightgray;

    position: relative;
    bottom: -278px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-middle div{
    width: 490px;
    height: 33.3%;
    display: flex;
    justify-content: space-between;
    
}

#text01 p {
display: flex;
justify-content: space-between;
margin-top: 10px;
margin-left: 10px;

font-size: 13px;
color: gray;
}

#text02 #text02-1 {
    width: 300px;
    height: 10px;
    border: 1px solid yellow;
    margin-top: 3px;
    margin-left: 10px;
}
#text02 #text02-2 {
    width: 150px;
    height: 10px;
    border: 1px solid yellow;
    margin-top: 3px;
    margin-right: 10px;

    text-align: right;
    font-size: 20px;
}

#text03 #text03-1 {
    width: 150px;
    height: 10px;
    border: 1px solid yellow;
    margin-top: 0px;
    margin-left: 10px;

    font-size: 13px;
    text-align: left;
}

#text03 #text03-2 {
    width: 150px;
    height: 10px;
    border: 1px solid yellow;
    margin-top: 0px;
    margin-right: 10px;

    font-size: 13px;
    text-align: right;
}






.camp-card-box ul .camp-card-normal .card-bottom {
    width: 490px;
    height: 54px;
    background-color: white;
    border: 1px solid lightgray;

    border-radius: 0 0 15px 15px;
    position: absolute;
    bottom: 0px;
    left: 19px;
}

.camp-card-box ul .camp-card-normal .card-bottom p {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 13px;
}









/* //////////////////////////////////////////////////////////////*/
/* swiper ///////////////////////////////////////////////////////*
/* /////////////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////////*/

/* 섹션: 움직이는 배너광고 (스와이프)) */
section .swiper {
    /* border: 1px solid green; */
    width: 530px;
    height: 230px;

    

    display: flex;
    justify-content: center;
}

section .swiper img {
    width: 500px;
    border-radius: 10px;
}

.swiper #img001 {
    position: absolute;
    top: 260px;
}

.swiper #img002 {
    position: absolute;
    top: 530px;
}

.swiper #img003 {
    position: absolute;
    top: 800px;
}






/* //////////////////////////////////////////////////////////////*/
/* footer ///////////////////////////////////////////////////////*
/* /////////////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////////*/

section footer {
    width: 530px;
    height: 446px;
    background-color: whitesmoke;

    position: absolute;
    bottom: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

footer .footer-logo {
    width: 498px;
    height: 33px;
    margin-top: 22px;

    border: 1px solid lightgray;
    border-width: 0 0 1px;

    margin-left: 5px;
}

footer .footer-logo img {
    /* border: 1px solid red; */
    width: 80px;
}

footer .footer-docu {
    width: 498px;
    height: 75px;

    border: 1px solid lightgray;
    border-width: 0 0 1px;
}

footer .footer-docu a {
    color: gray;
    text-decoration-line: none;
    font-size: 12px;

    margin-left: 15px;
    margin-right: 15px;
    margin-top: 14px;

    display: inline-block;
}

footer .footer-csct {
    width: 498px;
    height: 86px;
    padding-left: 10px;

    border: 1px solid lightgray;
    border-width: 0 0 1px;

    display: flex;
    justify-content: left;
    align-items: center;
}

footer .footer-csct button {
    width: 90px;
    height: 55px;
    background-color: white;
    outline: none;
    border: 1px solid gray;
    border-radius: 9px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.footer-csct button:hover {
    background-color: lightgreen;
}

footer .footer-csct button img {
    width: 17px;
    margin-right: 3px;

    position: relative;
    top: 3px;
}

footer .footer-csct table {

    position: relative;
    top: 2px;
    left: 15px;

    font-size: 13px;
    color: gray;
}

footer .font-bold {
    font-weight: 700;
}

footer .font-light {
    font-weight: 100;
}

footer .footer-faq {
    width: 498px;
    height: 59px;
    padding-left: 10px;

    border: 1px solid lightgray;
    border-width: 0 0 1px;

    display: flex;
    justify-content: left;
    align-items: center;
}

footer .icon-faq {
    width: 128px;
    height: 30px;
    outline: none;

    background-color: white;
    outline: none;
    border: 1px solid gray;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;
    cursor: pointer;
}

footer .icon-faq:hover {
    background-color: lightgreen;
}

footer .icon-faq img {
    width: 18px;
    margin-right: 2px;

    position: relative;
    top: 0px;
    left: -2px;
}


/* 원형버튼 공용 */
footer .btn-circle {
    border: 1px solid gray;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    cursor: pointer;

    margin-left: 14px;
}

footer .btn-circle:hover {
    background-color: lightgreen;
}

footer #icon-apple {
    background-image: url(images/resource/icon/apple_731985.png);
    margin-left: 24px;
}

footer #icon-google {
    background-image: url(images/resource/icon/google-play_1532483.png);
    margin-left: 10px;
}

footer #icon-youtube {
    background-image: url(images/resource/icon/youtube_733646.png);
    margin-left: 10px;
}

footer #icon-instagram {
    background-image: url(images/resource/icon/instagram_6422200.png);
    margin-left: 10px;
}


/* 회사소개 (사업자정보) */
footer .footer-company {
    width: 498px;
    height: 59px;
    padding-left: 10px;

    border: 1px solid lightgray;
    /* border-width: 0 0 1px; */
    border: none;
}

footer .footer-company h1 {
    font-size: 13px;
}

footer .footer-company p {
    font-size: 13px;
    font-weight: 100;
}







/* //////////////////////////////////////////////////////////////*/
/* popsel ///////////////////////////////////////////////////////*
/* /////////////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////////*/




.popsel-back {
    width: 530px;
    height: 100vh;

    position: fixed;
    bottom: 0px;
    z-index: 90;
    background-color: rgba(0, 0, 0, 0.6);

    display: none;
}


.popsel {
    width: 530px;
    height: 564px;
    /* background-color: orange;
    border: 1px solid red; */

    position: fixed;
    /* bottom: 0px; */
    bottom: -564px;
    z-index: 100;
}



.popsel-title {
    width: 530px;
    height: 56px;
    background-color: white;
    border-radius: 18px 18px 0 0;

    border: 1px solid lightgray;
    border-width: 0 0 1px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popsel-title button {
    width: 40px;
    height: 30px;
    background-color: transparent;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;

    cursor: pointer;
}


.popsel-title #refresh-icon {
    background-image: url(images/resource/icon/window_refresh_arrow.png);
}

.popsel-title #close-icon {
    background-image: url(images/resource/icon/window_close_x.png);
}

.popsel-title p {
    font-size: 18px;
    font-weight: 400;
    color: gray;
}

.popsel-viewer {
    width: 530px;
    height: 86px;
    background-color: white;

    border: 1px solid lightgray;
    border-width: 0 0 1px;
}

.popsel-viewer table {
    width: 530px;
    height: 50px;
    /* border: 1px solid red; */

    display: flex;
    justify-content: space-around;
    align-items: center;

    text-align: center;

    position: relative;
    top: 20px;

    border-collapse: collapse;
}

.popsel-viewer td {
    width: 240px;
    height: 15px;
    /* border: 1px solid pink; */
}

.popsel-viewer .center-line {
    width: 1px;
    background-color: rgb(240, 240, 240);
}

.popsel-viewer .schedule-title td {
    font-size: 15px;
    font-weight: 500;
    color: #09cf30;
}

.popsel-viewer .schedule-content td {
    font-size: 18px;
    font-weight: 400;
    color: rgb(190, 188, 188);
}



.popsel-calendar {
    width: auto;
    height: 350px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    ;
}

.popsel-calendar .month-selector {
    width: 490px;
    height: 50px;
    /* background-color: pink; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popsel-calendar .month-selector button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
}

.popsel-calendar .month-selector .calsel-btn-left {
    background-image: url(images/resource/icon/arrow_left.png);
}

.popsel-calendar .month-selector .calsel-btn-right {
    background-image: url(images/resource/icon/arrow_right.png);
}

.popsel-calendar .month-selector .title {
    height: 20px;
    font-size: 18px;
    font-weight: 600;
    color: gray;
}

.popsel-calendar .month-selector div {
    width: 50%;
    height: 50px;
    /* border: 1px solid red; */
    text-align: center;
}



.popsel-calendar .week-days {
    width: 490px;
    height: 16px;
    /* border: 1px solid violet; */
    font-size: 12px;
    font-weight: 200;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.popsel-calendar .week-row {
    width: 490px;
    height: 36px;
    /* border: 1px solid blue; */

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.popsel-calendar .week-row p {
    /* border: 1px solid pink; */
    width: 56px;
    height: 20px;
    font-size: 15px;
    text-align: center;
}

.popsel-calendar .week-row #sun {
    color: red;
}

.popsel-calendar .week-row #sat {
    color: blue;
}





.popsel-calendar .days-etc {
    width: 490px;
    height: 42px;
    /* border: 1px solid violet; */

    display: flex;
}

.popsel-calendar .days-etc .rect-blue {
    width: 60px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popsel-calendar .days-etc .rect-blue div {
    width: 11px;
    height: 11px;
    background-color: rgb(151, 219, 246);
}

.popsel-calendar .days-etc .rect-blue p {
    font-size: 13px;
    position: relative;
    top: 1px;
    left: 4px;
}

.popsel-calendar .days-etc .rect-red {
    width: 100px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popsel-calendar .days-etc .rect-red div {
    width: 11px;
    height: 11px;
    background-color: rgb(249, 144, 167);
}

.popsel-calendar .days-etc .rect-red p {
    font-size: 13px;
    position: relative;
    top: 1px;
    left: 4px;
}









.popsel-btn {
    width: 530px;
    height: 70px;
    background-color: #61D377;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popsel-btn button {
    width: 530px;
    height: 70px;
    background-color: transparent;
    border: 0;
    font-size: 15px;
    font-weight: 600;
    color: white;

    cursor: pointer;
}









.open {
    transform: translateY(-564px);
    transition-duration: 0.3s;
}

.close {
    transform: translateY(564px);
    transition-duration: 0.3s;
}



/* //////////////////////////////////////////////////////////////*/
/* PUBLIC: 공용 //////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////////*/

.btn-home,
.btn-search,
.btn-store,
.btn-life,
.btn-my {
    color: gray;
}

/* .btn-home {
    color: rgb(78, 193, 105);
} */
.btn-search {
    color: rgb(78, 193, 105);
}

/* .btn-store {
    color: rgb(78, 193, 105);
}
.btn-life {
    color: rgb(78, 193, 105);
}
.btn-my {
    color: rgb(78, 193, 105);
} */